
button {
    color: #6898F9;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    font-size: 13px;
    padding: 2em;
}

.special_class {
    column-count: 0;
}


.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    padding: 1em;
    margin: auto;


}

.navbar {
    background-color: #333;
    position: fixed;
    width: auto;
    overflow: hidden;
    transition: top 0.3s;
}

.navbar>a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.navbar>a:hover {
    background-color: #ddd;
    color: black;
}


img {
    width: auto;
    height: auto;
    position: static;
    align-items: left;
}


.fl>h1 {
    text-align: left;


}

.flex-container>.card {
    background-color: #F6F8FA;
    display: flex;
    text-align: center;
    padding: 30px;
    margin: 30px;
    font-size: auto;
    border-radius: 10px;


}


.fl {
    background-color: #FFFFFF;
    padding: 1em;
    margin: auto;
    padding: 55px;
    font-size: auto;
    flex-wrap: wrap;

}

@media screen and (min-width: 768px) {

    .card {
        width: 400PX;
        height: max-content;
    }
}

@media screen and (orientation: landscape) and (min-width:500px) {

    .special_class {
        column-count: 2;
    }

}

@media screen and (orientation: portrait) and (min-width: 500px) {
    .special_class {
        column-count: 2;
    }
}