<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>

    <div class="navbar" width: 1200px; margin: 0 auto;>
        <a href="#box1">Tour info</a>
        <a href="#box2">Daily itinerary</a>
        <a href="#red">Fees</a>
        <a href="#">Booking info</a>
        <a href="#">Reviews</a>
    </div>
    <div class="flex-container" id="box1">
        <div>
            <h2 class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis et blanditiis labore
                accusantium culpa, debitis, ipsa qui a voluptatibus voluptates harum aperiam nulla animi eaque
                eveniet officia repudiandae, reiciendis atque!</p>
        </div>

        <img src="../img/1666235852_64-mykaleidoscope-ru-p-salat-s-pelmenyami-instagram-67.jpg" alt="" style="width: 50%;">

    </div>
    </div>
    <div class="flex-container" id="box2">
        <div>
            <h2 class="text"> Aasdasfsdgsdfghfdghjfdgjfghjfghjgfhjgfhj.        
            </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis et blanditiis labore accusantium
                culpa, debitis, ipsa qui a voluptatibus voluptates harum aperiam nulla animi eaque eveniet officia
                repudiandae, reiciendis atque!</p>
        </div>

        <img src="img\1666235852_64-mykaleidoscope-ru-p-salat-s-pelmenyami-instagram-67.jpg" alt="" style="width: 50%;">

    </div>

    <div class="ex" style="height: 80vh; background-color: red;" id="red"></div>
    </div>

    <div>

    </div>

</body>

</html>