<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../kurwa.css">
    <title>Document</title>
</head>

<body>

    <body style=" text-align: center; font-size: auto; margin: 0 auto; background-color: #F6F8FA ;">
        <div class="container_1">
            <div class="normal_block">
                <h1>Log in with password.</h1>
                <form action="" method="" class="form_view">
                    <p>
                        <label for="e-mail"></label>
                        <input type="text" name="name" id="name" placeholder="E-mail">
                    </p>
                    <p>
                        <label for="password"></label>
                        <input type="text" name="password" id="password" placeholder="Password">
                    </p>
                </form>
            </div>
            <div>
                <p><a style="color: #FAFAFA;" href="#" class="btn btn_log_in"><img src="..\img\svg.jpg" alt="">Log in</a></p>
                <p>Don't have an account? <a style="color:#559BE6" href="#">Sing up</a></p>
            </div>
            <div class="normal_block" style="display: flex; column-count: auto; margin: 0 auto; padding: 15px">
                <hr>
                <p style="margin: auto;">or</p>
                <hr>
            </div>
            <div style="margin: auto; ">
                <p><a  class="btn btn_log_in_goo" href="#" style=""><img style="align-self: left;" src="..\img\svg.jpg" alt="">Log in</a></p>
                <p><a class="btn btn_log_in_fb" href="#"><img src="..\img\svg (2).jpg" alt="">Log in</a></p>
            </div>
        </div>

    </body>

</html>