<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>HZ</title>
</head>

<body>
    <div style="max-width: 1200px; width: auto; margin: 0 auto; flex-wrap: wrap; gap: 1em; display: flex; align-items: center;">
        <div  class="fl">
            <h1 style="color:#252525 ;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus accusamus
             </h1>
        </div>
        <div class="flex-container">
            <div id="block">
                <img src="..\img\Party Popper.png" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>
            </div>
            <div id="block">
                <img src="..\img\Performing Arts.png" alt="">
                <p>Reiciendis quidem neque ipsam unde explicabo quisquam saepe veritatis.</p>
            </div>
        </div>
        <div class="flex-container">
            <div id="block">
                <img src="..\img\Money Bag.png" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
            </div>
            <div id="block">
                <img src="..\img\Fork And Knife With Plate.png" alt="">
                <p>Reiciendis quidem neque ipsam unde explicabo quisquam saepe veritatis.</p>
            </div>
        </div>
    </div>
</body>

</html>